@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95)), url("https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

.cellphone-container {
  width: 376px;
  height: 661px;
  background-color: #1e1b26;
  margin: 20px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 4px;
}

.carousel {
  width: 500px;
  margin: 50px;
  height: 300px;
}

.menu {
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 999;

  i {
    font-size: 40px;
    color: #fe4141;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  }
}

.movie-img {
  width: 100%;
  height: 380px;
  background-image: url(https://images.pexels.com/photos/1366919/pexels-photo-1366919.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
  position: relative;
}

.movie {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 );

  /* IE6-9 */
  position: absolute;
  background-size: contain;
  background-size: cover;
  z-index: 1 !important;
  width: 375px;
  height: 660px;
  display: block;
  border-radius: 4px;
}

.text-movie-cont {
  padding: 0px 12px;
  text-align: justify;
}

.menu-bor {
  display: block;
  border: 1px solid #fe4141;
  border-radius: 5px;
  padding: 1px;
  width: 54px;
}

.action-btn {
  text-align: right;

  i {
    color: #fe4141;
    font-size: 28px;
    text-align: right;
  }
}

.watch-btn {
  display: block;
  border: 1px solid #fe4141;
  border-radius: 4px;
  padding: 6px;
  position: relative;

  h3 i {
    font-size: 14px;
    margin-right: 2px;
    position: relative;
    float: left;
    line-height: 1;
  }
}

.action-row {
  margin-top: 11px;
}

.summary-row {
  margin-top: 12px;
}

/* TYPOGRAPHY STARTS */
/* Fonts */

h1, h2, h3, h4, h5, h6, h1-1 {
  font-family: "Montserrat", sans-serif;
  color: #e7e7e7;
  margin: 0px;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h1-1 {
  font-size: 40px;
  color: #fe4141;
  font-weight: 500;
  text-align: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fe4141;
}

h5 {
  font-size: 12px;
  font-weight: 400;
}

h6 {
  font-size: 27px;
  font-weight: 400;
  color: #fe4141;
  position: relative;
  top: -2.4rem;
  left: -0.3rem;
}

.red {
  color: #fe4141;
}

.movie-gen, .movie-likes {
  margin: 0px;
  padding: 0px;
}

.movie-gen li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #818181;
  width: auto;
  display: block;
  float: left;
  margin-right: 6px;
  font-weight: 600;
}

.movie-likes {
  li {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #818181;
    width: auto;
    display: block;
    float: left;
    margin-right: 6px;
    font-weight: 600;
    color: #fe4141;

    &:last-child {
      margin-right: 0px;
    }

    i {
      font-size: 14px;
      margin-right: 4px;
      position: relative;
      float: left;
      line-height: 1;
    }
  }

  float: right;
}

.movie-details {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #b4b4b4;
}

.movie-description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
  text-align: justify;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 75ch;
}

.movie-actors {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #e7e7e7;
  font-style: italic;
}

/* TYPOGRAPHY ENDS */
/** GRID STARTS **/

.thegrid {
  margin: 0 auto;
}

.elements-distance, .movie-details, .movie-description, .movie-actors {
  margin: 0px;
}

.mr-grid {
  width: 100%;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

.col1, .col2, .col3, .col3rest, .col4, .col4rest, .col5, .col5rest, .col6, .col6rest {
  margin: 0% 0.5% 0.5% 0.5%;
  padding: 1%;
  float: left;
  display: block;
}

/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/

.col1 {
  width: 98%;
  font-weight: 400;
}

.col2 {
  width: 47%;
  font-weight: 400;
}

.col3 {
  width: 30.3333333333%;
  font-weight: 400;
}

.col4 {
  width: 22%;
  font-weight: 400;
}

.col5 {
  width: 17%;
  font-weight: 400;
}

.col6 {
  width: 13.6666666667%;
  font-weight: 400;
}

/* Columns match with their individual number. E.G. col3+col3rest=full width row */

.col3rest {
  width: 63.6666666667%;
  font-weight: 400;
}

.col4rest {
  width: 72%;
  font-weight: 400;
}

.col5rest {
  width: 77%;
  font-weight: 400;
}

.col6rest {
  width: 80.3333333333%;
  font-weight: 400;
}

.dribbble-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
}

.profile {
  position: absolute;
  top: -12px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 35px;
  height: 25px;
  margin: 0;
  border: 1px solid #fe4141;
}

.profile-avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}

.profile-inline {
  position: relative;
  top: 0;
  display: inline-block;

  ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
  }
}

/*LOGIN FORM CODE*/

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: #1e1b26;
    color: #fe4141;
    border: 2px solid #fe4141;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: 400px;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
}

.cA button {
  background-color: #1e1b26;
  color: #fe4141;
  border: 2px solid #fe4141;
  margin-top: 1em;
  width: 250px;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: 400px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #fe4141;
  background-color: #fff;
  border: 2px solid #fe4141;
}

.grey {
  color: #999;
  font-weight: 400px;

  a {
    color: #999;

    &:hover {
      color: #fe4141;
    }
  }
}

.createAccount small {
  color: #999;
  font-weight: 400px;
}

.firstName {
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.lastName, .email, .password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName, .lastName {
  width: 49%;
}

.email, .password {
  width: 100%;
}

.wrapper {
  height: 40vh;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 60px auto 0 auto;
  border-radius: 4px;
  background-color: #1e1b26;
  margin: 60px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 4px;
  border-top-right-radius: 42px;
  border-top-left-radius: 42px;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
}

.formik {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #fe4141;
  font-weight: 400px;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fe4141;

  &::placeholder {
    font-size: 1.2em;
    font-weight: 400px;
    color: #1e1b26;
  }

  &.error {
    border: 1px solid #fe4141;
  }
}

.lastName {
  margin-left: 1%;
}

/* TEST */

.loginimg {
  width: 50%;
  height: 100%;
  z-index: 111 !important;
  border-top-left-radius: 42px;
  border-top-right-radius: 4px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
  position: relative;
  color: #fe4141;
}

/*notification*/

.popup {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  width: 70vw;
  height: 50vh;
  bottom: 20px;
  right: 21px;
  top: 106px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
}

.popup-inner {
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  position: relative;
  bottom: -0.01vw;
  right: -0.01vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-width: 520px;
  max-height: 388px;
  width: 50%;
  height: 100%;
  background-color: #1e1b26;
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
}

.popup__photo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;

  img {
    width: auto;
    height: 100%;
  }
}

.popup__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #fe4141;
  }

  p {
    font-size: 0.875rem;
    color: #fe4141;
    line-height: 1.5;
  }
}

.popup:target {
  visibility: visible;
  opacity: 1;

  .popup-inner {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0a0a0a;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.but a {
  background-color: #1e1b26;
  color: #fe4141;
  border: 2px solid #fe4141;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px 103px;
  font-size: 1em;
  font-weight: 400px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.position {
  left: 4rem;
  top: 2rem;
}

.position1 {
  left: 2rem;
  top: -1.5rem;
}

.position2 {
  left: 2rem;
  top: -0.2rem;
}

.position3 {
  left: 0rem;
  top: -0.9rem;
}

.position4 {
  left: 0rem;
  top: 2.2rem;
}

/*Online indicator*/

.led-red-on {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #f90;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #f00 0 2px 12px;
}

.led-red-off {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #400;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #f00 0 2px 12px;
}

.led-yellow {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #a90;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #dd0 0 2px 12px;
}

.led-green {
  width: 10px;
  height: 10px;
  background-color: #690;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #7d0 0 -1px 9px, #7d0 0 2px 12px;
}

.led-blue {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #4ab;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06f 0 2px 14px;
}

div#online-status {
  color: #7d0;
  position: relative;
  top: -1.2rem;
  right: 5rem;
  padding: 10px;
}

/* Thick red border */

hr.new4 {
  width: 380px;
  border: 1px solid #fe4141;
  border-radius: 5px;
}

.block {
  display: block;
}

textarea {
  line-height: 150%;
  border-radius: 5px;
  background-color: #1e1b26;
  border: 1px solid #06f;
  height: 130px;
  resize: none;
  width: 100%;
  color: #fe4141;
  box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06f 0 2px 12px;
}